name: Build and Release

on:
  push:
    branches:
      - fix_workspaceservice
 #   tags:
 #     - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:${{ github.ref_name }},ghcr.io/${{ github.repository }}:latest
          platforms: linux/amd64,linux/arm64

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Build binary
        run: |
            GOARCH=amd64 go build -o mortis-amd64
            GOARCH=arm64 go build -o mortis-arm64

      - name: Compress binary
        run: |
            tar -czvf mortis-amd64.tar.gz mortis-amd64
            tar -czvf mortis-arm64.tar.gz mortis-arm64

      - name: Upload binary to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            mortis-amd64.tar.gz
            mortis-arm64.tar.gz
